################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NeatTest/.vs/NeatTest/v15/Server/sqlite3
